<!DOCTYPE html>
<html>
  <head>
    <title>The Animal API</title>
    <link rel="icon" href="/static/favicon_32x.ico" type="image/x-icon">
    <style>
      body {
        background-color: #343541;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif
      }

      h1 {
        font-size: 32px;
        color: #fff;
        text-align: center;
        margin: 0;
        padding: 20px
      }
    </style>
  </head>
  <body>
    <h1>The Animal API</h1>
  </body>
</html>
